﻿body 
{
    font-family:Arial, Sans-Serif;
}

.MainView_wrapper   
{
    margin:0 auto;
    width:700px;
}

/* FORM STYLE */
.MainView_wrapper input#ctl00_ContentPlaceHolder1_email_t   
{
    font-family:Arial, Sans-Serif;
    padding:3px;
    font-size:1.5em;
    width:400px;
}
.MainView_wrapper input#ctl00_ContentPlaceHolder1_subject_t 
{
    font-family:Arial, Sans-Serif;
    padding:3px;
    font-size:1.5em;
    width:400px;
}
.MainView_wrapper textarea  
{
    font-family:Arial, Sans-Serif;
    padding:3px;
    font-size:1em;
    width:400px;
    height:150px;
}

.MainView_wrapper table#ctl00_ShowPosts_DataList1    
{
    width:100%;
}

#div_FooterBase_wrapper 
{
    border-top:2px solid #ccc;
    margin:10px 0 0 0;
    padding:5px 20px;
}