﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/admin/masters/admin.Master" CodeBehind="Archived.aspx.vb" Inherits="WinnGuestbook.WebForm4" 
    title="Winn Guestbook Admin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ActivePosts" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="PostsOnHold" runat="server">
</asp:Content>

